.Container {
  max-width: 1160px;
  margin: 0 auto;
  color: #000000;
  margin-top: 50px;
  margin-bottom: 160px;
}

.Header {
  text-align: center;
  font: normal normal bold 35px/47px Segoe UI;
  margin-bottom: 20px;
}

.ProfileDetail {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.ProfileDetail img {
  border-radius: 50%;
  margin-right: 15px;
}

.ProfileName {
  font: normal normal 600 18px/24px Segoe UI;
  margin-bottom: 5px;
}

.DayCreate {
  font: normal normal normal 15px/20px Segoe UI;
  color: #5b7083;
}

.Content {
  font: normal normal normal 15px/20px Segoe UI;
  margin-bottom: 20px;
}

.ContentImg {
  margin: 0 auto;
  margin-bottom: 31px;
  display: flex;
}
.Icon {
  padding-bottom: 28px;
  display: flex;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 30px;
}

.IconHeart {
  margin-right: 25px;
  display: flex;
}

.IconHeart img {
  margin-right: 5px;
}

.IconMessage {
  display: flex;
}

.IconMessage img {
  margin-right: 5px;
}

.ContentComment {
  font: normal normal normal 15px/20px Segoe UI;
}

.DayComment {
  color: #5b7083;
  margin-bottom: 5px;
}

.MessageComment {
  margin-bottom: 15px;
}

.ContentComment:last-child {
  border-bottom: 1px solid #d9d9d9;
}

.ContentComment:last-child .MessageComment:last-child {
  padding-bottom: 14px;
}

.PostComment {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}
.TextPost {
  margin-top: 30px;
  font: normal normal 600 18px/24px Segoe UI;
  margin-bottom: 15px;
}

.PostComment textarea {
  background: #fff 0 0 no-repeat padding-box;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  outline: none;
  box-sizing: border-box;
  padding: 20px 0 94px 20px;
  width: 100%;
}

.BtnPost {
  position: absolute;
  right: 20px;
  top: 65.5%;
  border-width: 0;
  font: normal normal bold 13px/17px Segoe UI;
  color: #ffffff;
  padding: 13px 25px;
  background: #064ebc 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
}

.CommentTextarea::placeholder {
  font: normal normal normal 13px/17px Segoe UI;
  color: #d9d9d9;
}

.BtnPost:hover {
  cursor: pointer;
}

textarea.errorPost{
  border-color: #f3115e;
}

@media (max-width: 768px) {
  .ContentImg {
    width: 310px;
  }

  .Container {
    padding: 25px 20px;
  }
}
