.cardDetail {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #d2cbcb;
  border-radius: 10px;
  padding: 50px 100px 161px;
}

.title {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  line-height: 27px;
  padding-bottom: 40px;
}

.avata {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 15px;
}

.nameDate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.name {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.date {
  color: #5b7083;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
}
.subTitle {
  padding-bottom: 15px;
  color: #000;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}
.images {
  text-align: center;
}
.icon {
  display: flex;
  padding: 31px 0 29px 0;
  gap: 25px;
  border-bottom: 2px;
  border-bottom: 1px solid #d9d9d9;
}
.iconHeart {
  display: flex;
  gap: 5px;
  align-items: center;
}
.heart {
  width: 16px;
}
.com {
  width: 15px;
}
.iconComment {
  display: flex;
  gap: 5px;
  align-items: center;
}
.listComment {
  border-bottom: 1px solid #d9d9d9;
  padding: 30px 0 15px 0;
}

/* .commentDate{
    display: flex;
    gap: 15px;
  } */

.comment {
  padding: 31px 100px;
}
.postTile {
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  margin-bottom: 15px;
}

.addComment textarea {
  width: 600px;
  height: 150px;
  padding: 10px;
  outline: none;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}
.newComment {
  position: relative;
}
.btnPost {
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  bottom: 20px;
  right: 102px;
  padding: 8px 20px;
  background: #064ebc;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .cardDetail {
    padding: 30px 16px 70px;
  }
  .title {
    font-size: 26px;
  }
  .comment {
    padding: 20px 13px;
  }
  .addComment textarea {
    width: 330px;
    height: 126px;
  }
  .btnPost {
    bottom: 24px;
    right: 38px;
  }
  .images img {
    width: 345px;
  }
}
