.modal {
  width: 100%;
  color: #ffffff;
  padding: 24px 58px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #d2cbcb;
  border-radius: 10px;
}

.title {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 27px;
  margin-bottom: 40px;
}
.bodyCard {
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 20px;
}
.avata {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 46px;
}
.avataTextarea {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.avt {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.uploading {
  width: 100%;
  cursor: pointer;
}

.uploading span {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  padding-left: 11px;
}

.uploading input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  outline: none;
  border: 1px solid#D9D9D9;
  border-radius: 5px;
}
.uploadingTextarea {
  padding-left: 10px;
  width: 100%;
}
textarea {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid#D9D9D9;
  outline: none;
  border-radius: 5px;
}

.button {
  display: flex;
  justify-content: end;
  gap: 20px;
}
.btnSave {
  padding: 13px 24px;
  background: #064ebc;
  border-radius: 10px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  border: none;
}
.btnCancel {
  padding: 13px 18px;
  background: #d9d9d9;
  border-radius: 10px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
}

.hiddenInput {
  display: none;
}

.uploadLabel {
  display: inline-block;
  cursor: pointer;
  position: relative;
}
.uploadingInput{
  opacity: 0;
  position: absolute;
  right: 0px;
  cursor: pointer;

}
.errorBorder {
  border: 1px solid red;
}

@media (max-width: 768px) {
  .modal {
    margin: 0;
    width: 260px;
  }
  .uploading input {
    width: 100%;
    padding: 12px;
  }
  textarea {
    width: 100%;
    padding: 12px;
  }
}
