.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cardItem {
  max-width: 310px;
  padding: 30px;
}
.item {
  display: flex;
  padding-bottom: 15px;
}

.item a{
  display: flex;
}
.avata {
  padding-right: 15px;
}
.nameDate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
}
.name {
  color: #000;

  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
}
.date {
  color: #5b7083;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.5px;
}
.iconED {
  display: flex;
  gap: 17px;
  padding-left: 121px;
  cursor: pointer;
}
.subTitle {
  padding-bottom: 15px;
  color: #000;
  font-size: 15px;
  line-height: 20px;
  cursor: pointer;
}
a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .cards {
    display: inline-block;
  }
}
