.noData {
  text-align: center;
  padding: 30px;
  display: none;

}
.noResult {
  color: #064ebc;
  font-size: 25px;
  font-weight: 400;
  line-height: 25px;
  margin: 20px 0 10px;
}
.noContent {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}
